<!-- Lucky Number start -->
<section class="lucky-number section-bg dark-ui">
  <div class="overlay pb-120">
    <div class="container wow fadeInUp">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-header text-center">
            <h2 class="title">Select Lucky Number</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour,
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- <div class="col-xl-4 col-lg-10 col-md-12">
          <div class="menu-area">
            <div class="box position-relative d-flex align-items-center">
              <select class="tab-to-select">
                <option>Select Option</option>
                <option selected value="1">Mega Jactpot</option>
                <option value="2">Mega Millions</option>
                <option value="3">Euro Millions</option>
                <option value="4">Florida Lottery</option>
                <option value="5">Hot Lotto</option>
              </select>
            </div>
            <div class="d-md-block d-none">
              <ul class="nav justify-content-center" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="jactpot-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#jactpot"
                    type="button"
                    role="tab"
                    aria-controls="jactpot"
                    aria-selected="true"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-1.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Mega Jactpot</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="millions-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#millions"
                    type="button"
                    role="tab"
                    aria-controls="millions"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-2.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Mega Millions</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="euro-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#euro"
                    type="button"
                    role="tab"
                    aria-controls="euro"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-3.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Euro Millions</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="lottery-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#lottery"
                    type="button"
                    role="tab"
                    aria-controls="lottery"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-4.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Florida Lottery</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="lotto-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#lotto"
                    type="button"
                    role="tab"
                    aria-controls="lotto"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-5.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Hot Lotto</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col-xl-4">
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="jactpot"
              role="tabpanel"
              aria-labelledby="jactpot-tab"
            >
              <div class="row gap-4 gap-md-0">
                <div class="col-md-12">
                  <div class="selected-number">
                    <form action="#">
                      <div class="select-number-area">
                        <h5>Select Number</h5>
                        <ul class="output-box">
                          <li class="head-area"><span>01</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="ballActive"><span>12</span></li>
                        </ul>
                        <ul class="disable-items">
                          <li class="head-area"><span>02</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="ballActive"><span>12</span></li>
                        </ul>
                        <ul class="disable-items">
                          <li class="head-area"><span>03</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="ballActive"><span>12</span></li>
                        </ul>
                        <ul class="disable-items">
                          <li class="head-area"><span>04</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="ballActive"><span>12</span></li>
                        </ul>
                        <ul class="disable-items">
                          <li class="head-area"><span>05</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="numActive"><span>00</span></li>
                          <li class="ballActive"><span>12</span></li>
                        </ul>
                      </div>
                      <div
                        class="ticket-price mt-4 mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="left-area">
                          <p class="lgtxt">Ticket Price</p>
                          <span class="mdtxt">(6 tickets * $4.99)</span>
                        </div>
                        <div class="right-area">
                          <p class="lgtxt">$39.92</p>
                        </div>
                      </div>
                      <div class="btn-area mb-4">
                        <a (click)="openDialog()" class="cmn-btn alt">
                          Buy Ticket
                          <i class="icon-a-arrow-double"></i>
                        </a>
                      </div>
                    </form>
                    <div class="payment-methods">
                      <p class="lgtxt mb-3">Payment methods we accept :</p>
                      <ul>
                        <li>
                          <img src="assets/images/paypal.png" alt="icon" />
                        </li>
                        <li>
                          <img src="assets/images/discover.png" alt="icon" />
                        </li>
                        <li><img src="assets/images/visa.png" alt="icon" /></li>
                        <li>
                          <img src="assets/images/payoneer.png" alt="icon" />
                        </li>
                        <li>
                          <img src="assets/images/mastercard.png" alt="icon" />
                        </li>
                        <li>
                          <img src="assets/images/payfast.png" alt="icon" />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Lucky Number end -->
