<section class="banner-section index dark-ui">
  <div class="overlay">
    <div class="banner-content position-relative">
      <div class="shape-area">
        <img
          src="assets/images/ball-bg-icon-1.png"
          class="shape-1"
          alt="Image"
        />
        <img
          src="assets/images/ball-bg-icon-2.png"
          class="shape-2"
          alt="Image"
        />
        <img
          src="assets/images/ball-bg-icon-3.png"
          class="shape-3"
          alt="Image"
        />
        <img
          src="assets/images/ball-bg-icon-4.png"
          class="shape-4"
          alt="Image"
        />
      </div>
      <div class="container wow fadeInUp">
        <div class="row justify-content-between align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="main-content">
              <div class="top-area section-text">
                <h5 class="sub-title">Now's your chance to win jackpot!</h5>
                <h1 class="title">
                  Get <span>Involved</span> For a
                  <span class="win">quick win</span> the jackpots
                </h1>
                <p class="xltxt">
                  Play the world's largest lotteries from home to win jackpots.
                </p>
                <div
                  class="btn-area d-flex flex-wrap align-items-center gap-3 mt-30"
                >
                  <a href="javascript:void(0)" class="cmn-btn" [routerLink]="['/play-lottery']">
                    Play Lottery
                    <i class="icon-a-arrow-double"></i>
                  </a>
                  <a href="javascript:void(0)" class="cmn-btn alt">
                    Explore more
                    <i class="icon-a-arrow-double"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="sec-img">
              <img
                src="assets/images/index-illus.png"
                class="max-un"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section end -->

<!-- Lottery Slider start -->
<!-- <section class="lottery-slider">
  <div class="overlay pb-120">
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="lottery-carousel">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem class="slide">
              <div class="single">
                <div class="single-slide">
                  <div class="icon-area">
                    <img src="assets/images/ball-icon-1.png" alt="icon" />
                  </div>
                  <h5>Mega Jactpot</h5>
                  <p>Estimated Prize : <span>$25.0248</span></p>
                  <p class="lgtxt">In 5 days</p>
                  <a href="javascript:void(0)" class="cmn-btn">Play Now</a>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide">
              <div class="single">
                <div class="single-slide">
                  <div class="icon-area">
                    <img src="assets/images/ball-icon-2.png" alt="icon" />
                  </div>
                  <h5>Mega Millions</h5>
                  <p>Estimated Prize : <span>$25.0248</span></p>
                  <p class="lgtxt">In 15 days</p>
                  <a href="javascript:void(0)" class="cmn-btn">Play Now</a>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide">
              <div class="single">
                <div class="single-slide">
                  <div class="icon-area">
                    <img src="assets/images/ball-icon-3.png" alt="icon" />
                  </div>
                  <h5>Euro Millions</h5>
                  <p>Estimated Prize : <span>$25.0248</span></p>
                  <p class="lgtxt">In 19 days</p>
                  <a href="javascript:void(0)" class="cmn-btn">Play Now</a>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide">
              <div class="single">
                <div class="single-slide">
                  <div class="icon-area">
                    <img src="assets/images/ball-icon-4.png" alt="icon" />
                  </div>
                  <h5>Florida Lottery</h5>
                  <p>Estimated Prize : <span>$25.0248</span></p>
                  <p class="lgtxt">In 26 days</p>
                  <a href="javascript:void(0)" class="cmn-btn">Play Now</a>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide">
              <div class="single">
                <div class="single-slide">
                  <div class="icon-area">
                    <img src="assets/images/ball-icon-5.png" alt="icon" />
                  </div>
                  <h5>Mega Millions</h5>
                  <p>Estimated Prize : <span>$25.0248</span></p>
                  <p class="lgtxt">In 15 days</p>
                  <a href="javascript:void(0)" class="cmn-btn">Play Now</a>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Lottery Slider end -->
