<!-- Lucky Number start -->
<section class="lucky-number section-bg dark-ui">
  <div class="overlay pb-120">
    <div class="container wow fadeInUp">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-header text-center">
            <h2 class="title">Choice Lucky Number</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour,
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-10 col-md-12">
          <div class="menu-area">
            <div class="box position-relative d-flex align-items-center">
              <select class="tab-to-select">
                <option>Select Option</option>
                <option selected value="1">Mega Jackpot</option>
                <option value="2">Mega Millions</option>
                <option value="3">Euro Millions</option>
                <option value="4">Florida Lottery</option>
                <option value="5">Hot Lotto</option>
              </select>
            </div>
            <div class="d-md-block d-none">
              <ul class="nav justify-content-center" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="jactpot-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#jactpot"
                    type="button"
                    role="tab"
                    aria-controls="jactpot"
                    aria-selected="true"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-1.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Mega Jactpot</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="millions-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#millions"
                    type="button"
                    role="tab"
                    aria-controls="millions"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-2.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Mega Millions</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="euro-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#euro"
                    type="button"
                    role="tab"
                    aria-controls="euro"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-3.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Euro Millions</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="lottery-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#lottery"
                    type="button"
                    role="tab"
                    aria-controls="lottery"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-4.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Florida Lottery</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="lotto-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#lotto"
                    type="button"
                    role="tab"
                    aria-controls="lotto"
                    aria-selected="false"
                  >
                    <span
                      class="single-item d-flex gap-3 text-start align-items-center"
                    >
                      <span class="icon-area">
                        <img src="assets/images/ball-icon-5.png" alt="icon" />
                      </span>
                      <span class="text-area align-items-center">
                        <span class="lgtxt heading">Hot Lotto</span>
                        <span class="price"
                          >Estimated Prize : <span>$25.0248</span></span
                        >
                      </span>
                    </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="jactpot"
              role="tabpanel"
              aria-labelledby="jactpot-tab"
            >
              <div class="row gap-4 gap-md-0">
                <div class="col-md-12">
                  <div class="picks-number-area">
                    <div class="top-area">
                      <h5>Picks 5 Numbers</h5>
                      <div
                        class="btn-area d-flex flex-wrap mt-3 align-items-center justify-content-center gap-2 gap-md-4"
                      >
                        <a routerLink="/buy-ticket" class="cmn-btn">
                          <img src="assets/images/icon/plus.png" alt="icon" />
                          Quick pick
                        </a>
                        <button class="cmn-btn alt remove">
                          <img src="assets/images/icon/delete.png" alt="icon" />
                          Clear all
                        </button>
                      </div>
                    </div>
                    <div class="pick-number">
                      <ul>
                        <li><span>1</span></li>
                        <li><span>2</span></li>
                        <li><span>3</span></li>
                        <li><span>4</span></li>
                        <li><span>5</span></li>
                        <li><span>6</span></li>
                        <li><span>7</span></li>
                        <li><span>8</span></li>
                        <li><span>9</span></li>
                        <li><span>10</span></li>
                        <li><span>11</span></li>
                        <li><span>12</span></li>
                        <li><span>13</span></li>
                        <li><span>14</span></li>
                        <li><span>15</span></li>
                        <li><span>16</span></li>
                        <li><span>17</span></li>
                        <li><span>18</span></li>
                        <li><span>19</span></li>
                        <li><span>20</span></li>
                        <li><span>21</span></li>
                        <li><span>22</span></li>
                        <li><span>23</span></li>
                        <li><span>24</span></li>
                        <li><span>25</span></li>
                        <li><span>26</span></li>
                        <li><span>27</span></li>
                        <li><span>28</span></li>
                        <li><span>29</span></li>
                        <li><span>30</span></li>
                        <li><span>31</span></li>
                        <li><span>32</span></li>
                        <li><span>33</span></li>
                        <li><span>34</span></li>
                        <li><span>35</span></li>
                        <li><span>36</span></li>
                        <li><span>37</span></li>
                        <li><span>38</span></li>
                        <li><span>39</span></li>
                        <li><span>40</span></li>
                      </ul>
                    </div>
                    <div class="pick-power-ball text-center">
                      <h5>Pick 1 Power Ball</h5>
                      <ul>
                        <li><span>1</span></li>
                        <li><span>2</span></li>
                        <li><span>3</span></li>
                        <li><span>4</span></li>
                        <li><span>5</span></li>
                        <li><span>6</span></li>
                        <li><span>7</span></li>
                        <li><span>8</span></li>
                        <li><span>9</span></li>
                        <li><span>10</span></li>
                        <li><span>11</span></li>
                        <li class="ballActive"><span>12</span></li>
                        <li><span>13</span></li>
                        <li><span>14</span></li>
                        <li><span>15</span></li>
                        <li><span>16</span></li>
                        <li><span>17</span></li>
                        <li><span>18</span></li>
                        <li><span>19</span></li>
                        <li><span>20</span></li>
                        <li><span>21</span></li>
                        <li><span>22</span></li>
                        <li><span>23</span></li>
                        <li><span>24</span></li>
                        <li><span>25</span></li>
                        <li><span>26</span></li>
                        <li><span>27</span></li>
                        <li><span>28</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Lucky Number end -->
