<!-- Footer Area Start -->
<footer class="footer-section section-bg">
  <div class="footer-area">
    <div class="container">
      <div class="row wrapper mt-80 mb-80">
        <div
          class="col-xl-12 cus-mar d-flex flex-wrap align-items-center justify-content-between top-area"
        >
          <div class="single-box">
            <a href="index.html">
              <img src="assets/images/logo-alt.png" class="logo" alt="logo" />
            </a>
          </div>
          <div class="single-box">
            <ul class="items gap-3 d-flex flex-wrap align-items-center">
              <li><a href="about.html">About us</a></li>
              <li><a href="lotteries.html">Lotteries</a></li>
              <li><a href="results.html">Results</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="single-box social">
            <ul class="d-flex">
              <li>
                <a href="javascript:void(0)"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="fab fa-dribbble"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="copyright text-center">
            <p>
              Copyright © 2022. All Right Reserved By
              <a href="javascript:void(0)">Lottery Pro</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
